<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <span ng-if="formCtrl.newType">
                    Create new data type
                </span>
                <span ng-if="!formCtrl.newType">
                    Edit {{formCtrl.type.title}} data type
                </span>
            </h3>
        </div>
        <div class="panel-body">
            <form novalidate name="form" ng-submit="formCtrl.save(form)" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 col-xs-12 control-label" for="type_title">Type title</label>
                    <div class="col-sm-10 col-xs-12">
                        <input placeholder="Enter title"
                               class="form-control"
                               name="type_title"
                               type="text"
                               ng-model="formCtrl.type.title"
                               ng-required="true">
                        <div class="alert alert-danger" role="alert"
                             ng-show="form.$submitted && form.type_title.$error.required">
                            Please enter a data type
                        </div>
                   </div>
                </div>

                <div class="form-group">
                    <label for="new_field" class="col-sm-2 col-xs-12 control-label">Add a new field</label>
                    <div class="col-sm-6 col-xs-12">
                        <input placeholder="Field name"
                               ng-required
                               class="form-control"
                               name="new_field"
                               type="text"
                               ng-model="field.name"
                               keyable-string>
                    </div>
                    <div class="col-sm-2 col-xs-8">
                        <select class="form-control" ng-model="field.type" ng-required>
                            <option value="">Field type</option>
                            <option ng-repeat="(k, field_type) in formCtrl.fieldTypes"
                                    value="field_type">{{field_type.name}}</option>
                        </select>

                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <button class="btn btn-default form-control" ng-click="" type="button">Add field</button>
                    </div>
                </div>
                <div ng-if="type.fields && type.fields.length > 0">
                    <div class="form-group" ng-repeat="field in type.fields">
                        <input placeholder="Field name"
                               class="form-control"
                               name="type_title"
                               type="text"
                               ng-model="field.name">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-xs-4 col-xs-offset-2">
                        <button class="btn btn-primary form-control" type="submit">
                            <span ng-if="formCtrl.isEditing()">Save</span>
                            <span ng-if="!formCtrl.isEditing()">Create</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
